@media only screen and (min-width: 230px) and (max-width:280){
  .description{
      font-size:12px;
  }

    .card{width:48%;margin-top:20px;}
    .r{
     position: absolute;
   }
   .card-right{
       float: right;
       width:48%;
   }
 
   h5{
       font-size:10px ;
       font-family: sans-serif;
       font-weight: 0px;
   }
   
   .card .image{
     
       height:90px;
      
   }
   .logo{
    
    padding-top:20px;
   }
   .logo .logo-image{
   
       width:70px;
       height:70px;
       border-radius:50%;   ;
       -webkit-border-radius:50%   ;
       -moz-border-radius:50%   ;
       -ms-border-radius:50%   ;
       -o-border-radius:50%   ;
}

header{
    height:350px;
}
.con{

    margin-top:100px;
  }
  h3{
    font-size: 15px;
  
  }

}
@media only screen and (max-width: 480px) and (min-width: 280px){
    .card{width:48%;margin-top:20px;}
    .r{
     position: absolute;
   }
   .card-right{
       float: right;
       width:48%;
   }
 
   h5{
       font-size:15px ;
       font-family: sans-serif;
       font-weight: 0px;
   }
   
   .card .image{
     
       height:160px;
   }
   .logo{
    
    padding-top:20px;
   }
   .logo .logo-image{
   
       width:70px;
       height:70px;
       border-radius:50%;   ;
       -webkit-border-radius:50%   ;
       -moz-border-radius:50%   ;
       -ms-border-radius:50%   ;
       -o-border-radius:50%   ;
}
header{
    height:450px;
}
.con{

    margin-top:100px;
  }
  h3{
    font-size: 15px;
    color:blue;
  }

}
@media only screen and (min-width: 600px){
    .card{width:48%;margin-top:20px;}
    .r{
     position: absolute;
   }
   .card-right{
       float: right;
       width:48%;
   }
 
   h5{
       font-size:22px ;
       font-family: sans-serif;
       font-weight: 0px;
   }
   
   .card .image{
     
       height:200px;
   }
   .logo{
    border:1px solid black;
   padding-top:20px;
   float:right;
  }
  .logo .logo-image{
  
      width:100px;
      height:100px;
      border-radius:50%;   ;
      -webkit-border-radius:50%   ;
      -moz-border-radius:50%   ;
      -ms-border-radius:50%   ;
      -o-border-radius:50%   ;
}
header{
    height:650px;
}
.con{
     
    margin-top:400px;
    font-weight:500px;
  }
  h3{
font-size: 18px;
color:blue;
}
}
@media only screen and (min-width: 1300px){
    .card{width:48%;margin-top:20px;}
    .r{
     position: absolute;
   }
   .card-right{
       float: right;
       width:48%;
   }
 
   h5{
       font-size:8px ;
       font-family: sans-serif;
       font-weight: 0px;
   }
   
   .card .image{
     
       height:250px;
   }
   .logo{

   
   padding-top:30px;
  }
  .logo .logo-image{
  
      width:120px;
      height:120px;
      border-radius:50%;   ;
      -webkit-border-radius:50%   ;
      -moz-border-radius:50%   ;
      -ms-border-radius:50%   ;
      -o-border-radius:50%   ;
}
.con{
     
    margin-top:200px;
    font-weight:500px;
  }
  #basicExampleNav{
    
    padding-left:100px;
    font-size:25px;
    font-weight: 100;
  }
  #title{
   
    font-size:25px;
   
    font-family: sans-serif;
    padding-left:20px;
  }
  h3{
    font-size:10px;
  }
  h3{
font-size: 20px;
color:blue;
}

}

