@media only screen and (max-width: 480px) and (min-width: 250px){
    .card{width:48%;margin-top:20px;}
    .r{
     position: absolute;
   }
   .card-right{
       float: right;
       width:48%;
   }
 
   h5{
       font-size:8px ;
       font-family: sans-serif;
       font-weight: 0px;
   }
   
   .card .image{
     
       height:160px;
   }
   h5{
       color:red;
       
   }
}
@media only screen and (min-width: 600px){
    .card{width:48%;margin-top:20px;}
    .r{
     position: absolute;
   }
   .card-right{
       float: right;
       width:48%;
   }
 
   h5{
       font-size:8px ;
       font-family: sans-serif;
       font-weight: 0px;
   }
   
   .card .image{
     
       height:200px;
   }
}
@media only screen and (min-width: 1300px){
    .card{width:48%;margin-top:20px;}
    .r{
     position: absolute;
   }
   .card-right{
       float: right;
       width:48%;
   }
 
   h5{
       font-size:8px ;
       font-family: sans-serif;
       font-weight: 0px;
   }
   
   .card .image{
     
       height:250px;
   }
}

